<img class="w-100" src="/img/2020-01-27-koshischool.jpg" alt="トップ画像">
<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">高志中学校サイエンス部</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav4">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/post">Blog</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="https://www.koshi-h.ed.jp/">高志中学校ホームページ</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
